body{
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size:12pt;
    background:linear-gradient(rgb(0, 128, 117),rgb(192, 247, 229),rgb(0, 128, 117)) 
}

header{
    text-align: center;
}

header h3{
    font-size: 16pt;
    color: rgb(184, 245, 221);
    text-decoration: underline;
}

footer{
    border-top-style: solid;
    text-align: left;
    color:rgb(59, 59, 59);
}

h1{
    text-align: center;
    color: green;
    font-size: 22pt;
    text-decoration: underline;
    
}
h2{
    border-bottom-style: double;
    border-top-style:double;
    border-color: green;
    text-align: left;
    padding-bottom: 1%;
    padding-top:1%;
    color: green;
    font-size: 18pt;
    margin-bottom: 5%;
    margin-top:5%;
    clear: both;
}

div h3{
    margin-left: 10%;
    font-size: 16pt;
    color: rgb(80, 156, 80);
    text-decoration: underline;
}
p, ul, .div_langue{
    font-weight: bold;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: rgb(149, 204, 201);
    border-radius: 20px;  
}

li{
    margin-bottom: 1%;
    margin-left: 2%;  
}

li .divers{
    font-weight: normal;
}

input{
    display:block;
    text-align: center;
    font-size:12pt;
    margin-right: auto;
    margin-left:auto;
}

button{
    display:block;
    height: 30px;
    background-color: green; 
    color : white; 
    border-radius: 5px;
    font-size: 12pt;
    float: right;
}

.haut{
    display: block;
    font-size: 10pt;
    margin-bottom: 2%;
    float: right;
}

.photo{
    display: block;
    height:210px; 
    width:160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.logoEn{
    display: block;
    width: 25px;
    height: 25px;
    float: left;
}

.logoSp, .logoFr{
    display: block;
    width: 20px;
    height: 20px;
    float: left; 
}

.date, .perso{
    text-decoration: underline;
    margin-top: 5%;
    margin-right: 1%;
}

.dateW3C{
    font-style: italic;
}

.precision, .employeur, .contrat{
    text-align: right;
    display: block;
    margin-top: 2%;
    font-weight: normal;
    color:rgb(59, 59, 59);
}

.employeur, .contrat{
    font-style: italic;
    color:grey;
}


.langue{
    margin-left: 10px;
}

.div_langue{
    column-count: 3;
    column-width: 40% 25% 25%;
}

.langages{
    column-count: 2;
}
